numpy
scipy
pandas>=1.0.0
scikit-learn

matplotlib
plotly

black
isort
pytest

jupyterlab
ipywidgets
ipython

#mlflow

#transformers[torch]
#sentence-transformers

#langchain
llama-index

#openai
#anthropic
#huggingface_hub

#chromadb
#faiss-cpu